@charset "UTF-8";

*{
	box-sizing: border-box;
}

#container{
	display: flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	margin: 0px auto;
	width: 1000px;
}

.board-list{
	display: flex;
	justify-content : center;
	align-items : center;
	width: 100%;
}

.board-list-table{
	border: 1px solid black;
	border-collapse: collapse;
}

th{
	border: 1px solid black;
	width: 100px;
}

td{
	border: 1px solid black;
	width: 400px;
}
.input-items{
	border:none;
	outline: none;
	padding: 10px;
	width: 100%;
	height: 100%;
}
.textarea-item{
	border:none;
	outline: none;
	
	padding: 10px;
	resize: none;
	width: 100%;
	height: 500px;
	
}




